  
  <!-- Modal -->
  <!-- modal fade -->
  <div class="modal fade" id="formucultivo" tabindex="-1" aria-labelledby="formucultivoLabel" aria-hidden="true">
    <form class="modal-dialog modal-xl"
    [formGroup]="formu"
    (ngSubmit)="enviar()"
    >
      <div class="modal-content">
        <div class="container d-flex p-2" style="justify-content: space-between;">
          <h1 class="h1 m-1 text-center fs-4 fw-semibold" style="color: #8C5708;" id="formucultivoLabel">{{namefor}} un cultivo</h1>
          <button type="button"  mat-icon-button  data-bs-dismiss="modal" aria-label="Close">
            <mat-icon class="text-danger">close</mat-icon>
          </button>
        </div>
        <hr>
        <div class="modal-body   p-2">
          <div class="cantainer-fluid d-flex flex-wrap justify-content-around">
            <div class="p-1 col-6 col-sm-5 col-md-3 d-flex justify-content-center" style="flex-direction: column; align-items: center;">
               <p *ngIf="descripcion" class="m-1 fw-semibold alert">Este campo es obligatorio</p>
               <label class="h6 m-0 text-capitalize" for="descrip">Cultivo</label>
                <textarea formControlName="descripcion" class="" name="" id="descrip" placeholder="Ingrese una descripción" ></textarea>
            </div>
            <div class="p-1 col-6 col-sm-5 col-md-3 d-flex justify-content-center" style="flex-direction: column; align-items: center;">
              <p *ngIf="hectareas" class="m-1 fw-semibold alert">Este campo es obligatorio</p>
                <label class="h6 m-0" for="tmcultivo">Tamaño del cultivo </label>
                <input formControlName="hectareas" type="number" min="1"  id="tmcultivo" placeholder="Tamaño en hectareas"> 
            </div>
            <div class="p-1 col-6 col-sm-5 col-md-3 d-flex justify-content-center" style="flex-direction: column; align-items: center;">
              <p *ngIf="fecha_siembre" class="m-1 fw-semibold alert">Este campo es obligatorio</p>
              <label class="h6 m-0" for="fsiembre">Fecha de siembre</label>
              <input formControlName="fecha_siembre" type="date" id="fsiembre" placeholder="Fec">
               
            </div>
          </div>
          <div class="cantainer-fluid d-flex flex-wrap justify-content-around  ">
            <div class="container-fluid p-1 col-12 d-flex flex-wrap" style="justify-content: space-evenly;">
              <div class="p-1 col-6 col-sm-5 col-md-3 d-flex justify-content-center" style="flex-direction: column; align-items: center;">
                <p *ngIf="departamento" class="m-1 fw-semibold alert">Este campo es obligatorio</p>
                <label class="h6 m-0" for="departamento">Departamento</label>
                <select name="" id="departamento" formControlName="departamento" (change)="getMunicipio()"> 
                  <option *ngFor="let item of _crtSer.opcionesDpto" [value]="item?.idDepartamento">{{item?.nombre}}</option>
                </select>
              </div>
              <div class="p-1 col-6 col-sm-5 col-md-3 d-flex justify-content-center" style="flex-direction: column; align-items: center;">
                <p *ngIf="municipio" class="m-1 fw-semibold alert">Este campo es obligatorio</p>
              <label class="h6 m-0" for="municipio">Municipio</label>
              <select formControlName="municipio" id="municipio" (change)="getVereda()">
                <option *ngFor="let item of _crtSer.opcionesMuni" [value]="item?.idMunicipio">{{item?.nombre}}</option>
              </select>
              </div>
              <div class="p-1 col-6 col-sm-5 col-md-3 d-flex justify-content-center" style="flex-direction: column; align-items: center;">
                <p *ngIf="vereda" class="m-1 fw-semibold alert">Este campo es obligatorio</p>
              <label class="h6 m-0" for="vereda">Vereda</label>
              <select formControlName="vereda" id="municipio" >
                <option *ngFor="let item of _crtSer.opcionesVrda" [value]="item?.idVereda">{{item?.nombre}}</option>
              </select> 
              </div>
            </div>
            <div class="p-1 col-12  col-md-10  d-flex justify-content-center" style="flex-direction: column; align-items: center;">
              <p *ngIf="gastosV" class="m-1 fw-semibold alert">Este campo es obligatorio</p> 
              <div class="tablee ">
                <table class="table shadow-sm table table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="text-capitalize text-center">gastos</th>
                      <th scope="col" class="text-capitalize text-center">cantidad</th>
                      <th scope="col" class="text-capitalize text-center">descripción</th>
                      <th scope="col" class="text-capitalize text-center">acciones</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="gastos" class="table-group-divider">
                    <tr *ngFor="let item of getCtrl('gastos', formu)?.controls;
                    index as indexFormChildPrice" [formGroupName]="indexFormChildPrice">
                      <td align="center"  ><input formControlName="valor" placeholder="Valor" type="number" min="1" ></td>
                      <td align="center"  ><input formControlName="cantidad" placeholder="Cantidad" type="number" min="1" ></td>
                      <td align="center"  ><input formControlName="descripcion" placeholder="Ingrese una descripción" type="text" ></td>
                      <td align="center">
                          <button type="button" (click)="deletGasto(indexFormChildPrice)" class="btn" mat-mini-fab ><mat-icon class="text-danger">delete</mat-icon></button>
                      </td>
                    </tr> 
                  </tbody>
                </table>
                <div class="d-grid p-0 my-0">
                  <button mat-button class="btn " (click)="addGastos()" style="background-color: rgb(0, 255, 238);"
                      type="button" >
                      <i class="fa-solid fa-plus"></i> Agregar
                  </button> 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container d-flex p-2" style="justify-content: center; align-items: center;">
          <button type="button" mat-button class="mx-1 btn " style="background-color: #FF3D00; color: #ffff;" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" mat-button class="mx-1 btn btn-primary" style="background-color: #00A3FF; color: #ffff;">Agregar</button>
        </div>
      </div>
    </form>
  </div>
