<div class="container-fluid my-3">
    <div class="container">
      <h1 class="text-start">Cultivos</h1>
    </div>
    <button mat-mini-fab style="background-color: #05FF00;" aria-label="icon"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formucultivo">
      <mat-icon style="color:rgb(255, 255, 255) ; font-weight: bolder;">add</mat-icon>
    </button>
</div>
<!-- <div class="container">
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 g-1">
      <div class="col" >
        <div class="card p-0">
          <div class="card-body p-1">
            <h5 class="card-title text-center">""dfvdf""</h5>
            <p class="card-text">Episode <small>efdxerg</small></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">fvdxrge</small>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<app-formulariocultivo></app-formulariocultivo>