<div class="container-fluid my-3">
    <div class="container">
      <h1 class="text-start">Cultivos</h1>
    </div>
    <button mat-mini-fab style="background-color: #05FF00;" aria-label="icon"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formucultivo">
      <mat-icon style="color:rgb(255, 255, 255) ; font-weight: bolder;">add</mat-icon>
    </button>
    <div class="container-fluid pt-2">
      <app-tarjeta-cultivo [index]="_sCtr.cultivos[i]?.idCultivo" [items]="_sCtr.cultivos[i]" *ngFor="let item of _sCtr.cultivos; let i= index"></app-tarjeta-cultivo>
      <div *ngIf="_sCtr.cultivos.length===0 && mostrar" class="col shadow scale-in-center rounded-4">
        <div class="card border-0">
          <h3 class="text-center p-0 m-0">No tines cultivos, agregalos!</h3>
        </div>
      </div>
    </div>
</div>
<app-formulariocultivo namefor="Agregar"></app-formulariocultivo>