/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
html, body { height: 100%; }
body { margin: 0;font-family: 'Nunito Sans', sans-serif; }


::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(
    to bottom,
    #ff850a,
    #ff3474
  );
  border-radius: 50px;
}
::-webkit-scrollbar-track{
  background: #474747;
}
.valid{
  -webkit-box-shadow: 0px 1px 2px 2px rgba(10,255,71,0.46)!important;
  box-shadow: 0px 1px 2px 2px rgba(10,255,71,0.46)!important;
}
.invalid{
  -webkit-box-shadow: 0px 1px 2px 2px rgba(255, 30, 10, 0.926)!important; 
  box-shadow: 0px 1px 2px 2px rgba(255, 30, 10, 0.926)!important;
  // outline: ;
  // border: ; 
}
.alert{
  color: #ff5100;
  margin: 0!important;
  padding: 0!important;
  font-size: smaller!important;
}
// --------------------------------------------------------------------------------------------

    /* Simple CSS3 Fade-in Animation */

  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  @media (max-width: 576px) {
    .cont-sig{
      width: 100%!important;
    }
    .img{
      height: 59%!important;
      margin-top: -1%!important;
    }
  }

  @media (min-width: 768px){
    .contPerfil{
      position: absolute;
      right: 0;
    }

  }